@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --blue: #4285F4;
    --gray1: #bcbcbc;
    --gray2: #848484;
    --gray3: #4c4c4c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

li, a {
    font-weight: 400;
    font-size: 13px;
    color: #222222;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    align-items: center;
    padding: 12px 2%;
}

.nav-container {
    float: right;
    list-style: none;
}

.nav-container li{
    display: inline-block;
    padding: 0 10px;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link .material-icons {
    height: 30px;
    margin-top: 5px;
}

.nav-link a img {
    border: solid 1px green;
    border-radius: 50%;
    height: 34px;
}



.main-container {
    text-align: center;
    padding: 10% 30%;
}


@media (max-width: 1200px){
    
}
@media (max-width: 768px){

}
@media (max-width: 576px){

}